.aparelhos-container {
    padding: 20px;
  }
  
  .aparelhos-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .aparelho-item {
    width: calc(35% - 10px); 
    margin: 10px;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    background-color: rgb(124, 123, 123);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  img{
    width: 150px;
  }
  .aparelho-image {
    max-width: 80%;
    height: auto;
  }
  
  .aparelho-details {
    margin-top: 20px;
  }
  
  .aparelho-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .aparelho-button:hover {
    background-color: #0056b3;
  }
  